<!DOCTYPE html>
<html>
<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/images/Iconos/Icono_grupos.ico" type="~/Images/png">
    <title>@ViewData["Title"] - Grupos</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <environment include="Development">
    <!-- main css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">

</environment>
</head>
<body>
    
    <div id="blue-box">
        <img src="~/Images/Iconos/Slogan_vertical.png" style="width: 55%; height: 32%;">
        <img src="~/Images/Iconos/Facebook.png" style="width: 20%; position:absolute; bottom:30%; right: 33%; z-index:0; "></img>
        <img src="~/Images/Iconos/Instagram.png" style="width: 25%; position:absolute; bottom:25%; right: 33%; z-index:0; "></img>
        <img src="~/Images/Iconos/Linkedin.png" style="width: 25%; position:absolute; bottom:20%; right: 33%; z-index:0; "></img>
        <img src="~/Images/Iconos/Whatsapp.png" style="width: 25%; position:absolute; bottom:15%; right: 33%; z-index:0; "></img>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="position:absolute; background-color: #3d0d50; border-color: #3d0d50; bottom:8%; right: 2%; z-index:0; font-size: 9px;">Registrarse</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" style="color: black" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">REGISTRESE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>NOMBRES Y APELLIDOS</label>
                                <input type="text" class="form-control text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>EMAIL</label>
                                <input type="text" class="form-control text">
                                <input type="checkbox" /> Acepto terminos y condiciones
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
            <div class="row">
                <div class="col-9">
                    <img src="~/Images/Iconos/logo.png" style="width: 30%; height: 95%;"></img>
                </div>
                <div class="col-3" style="font-size: 25px; float: right;">
                    <i class="fa fa-whatsapp" style="font-size:46px"></i> +57 322 2222
                </div>
            </div>
        </div>
    </nav>


    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <img src="~/Images/Iconos/Logo_Blanco-8.png" style="width: 150px; height: 40px; margin-bottom: 20px;"></img>
            <br>
            <p class="text-center">Copyright &copy; grupos.co | Turismo Agencia de viajes. Todos los derechos reservados. | Términos y condiciones | RNT | Contacto: operaciones@grupos.co</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/site.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
